main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

button {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  width: 500px;
  padding: 1rem;
  border: none;
}